{
    "$schema": "https://swc.rs/schema.json",
    "jsc": {
        "target": "es2024",
        "parser": {
            "syntax": "typescript",
            "decorators": true,
            "dynamicImport": true
        },
        "transform": {
            "decoratorMetadata": true,
            "legacyDecorator": true
        },
        "keepClassNames": true,
        "externalHelpers": false
    },
    "module": {
        "type": "es6",
        "strict": false,
        "strictMode": true,
        "lazy": false,
        "noInterop": false,
        "importInterop": "babel"
    },
    "sourceMaps": true,
    "exclude": [
        "jest.config.ts",
        ".*\\.spec.tsx?$",
        ".*\\.test.tsx?$",
        "./src/jest-setup.ts$",
        "./**/jest-setup.ts$",
        ".*.js$"
    ]
}